@model ES.Project.WEB.UI.Areas.Admin.Models.UserRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
<form action="#" method="post" class="form-control">
    <div class="form-row">
        <label>Ad</label>
        <input type="text" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-row">
        <label>Soyad</label>
        <input type="text" asp-for="Surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="form-row">
        <label>Kullanıcı Adı</label>
        <input type="text" asp-for="Username" />
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>
    <div class="form-row">
        <label>Email</label>
        <input type="email" asp-for="Mail" />
        <span class="text-danger" asp-validation-for="Mail"></span>
    </div>
    <div class="form-row">
        <label>Şifre</label>
        <input type="password" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-row">
        <label>Şifre Tekrar</label>
        <input type="password" asp-for="ConfirmPassword" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>

    <label class="container">
        Şartları Okudum ve onaylıyorum.
        <input type="checkbox">
        <span class="btn-check"></span>
    </label>
    <button class="btn">Kayıt Ol!</button>
</form>
</body>
</html>
