@*@model Acci.Project.UI.Web.Areas.Admin.Models.HomeViewIndexModel*@
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ES | Admin Panel</title>

    <link href="/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="/Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">



    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index" asp-controller="Default" asp-area="Admin">
                <div class="sidebar-brand-text mx-3">ACCI | Acıbadem</div>
            </a>

            <hr class="sidebar-divider my-0">
            
                @* Anasayfa Ekle *@
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Default" asp-area="Admin">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Ana Sayfa</span>
                    </a>
                </li>

                <hr class="sidebar-divider">

                @* Dil Seçeneği Ekle *@
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwoTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Dil Seçeneği</span>
                    </a>
                    <div id="collapseTwoTwo" class="collapse" aria-labelledby="headingTwoTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="Index" asp-controller="Language" asp-area="Admin">Tümünü Gör</a>
                            <a class="collapse-item" asp-action="InsertLanguagePage" asp-controller="Language" asp-area="Admin">Dil Seçeneği Ekle</a>
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                @* Kategori Ekle *@
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Kategoriler</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Tümünü Gör</a>
                            <a class="collapse-item" asp-action="InsertCategoryPage" asp-controller="Category" asp-area="Admin">Kategori Ekle</a>
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                @* İçerik Ekle *@
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-table"></i>
                        <span>İçerikler</span>
                    </a>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="Index" asp-controller="Content" asp-area="Admin">Tümünü Gör</a>
                            <a class="collapse-item" asp-action="InsertContentPage" asp-controller="Content" asp-area="Admin">İçerik Ekle</a>
                            @*<a class="collapse-item" asp-action="ApprovedContents" asp-controller="Content" asp-area="Admin">
                            <b style="color:darkgreen">Yayındaki İçerikler</b>
                        </a>
                        <a class="collapse-item" asp-action="NoApproved" asp-controller="Content" asp-area="Admin">
                            <b style="color:darkred">Yayın Dışı İçerikler</b>
                        </a>*@
                        </div>
                    </div>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                @* Duyuru Ekle *@
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Duyurular</span>
                    </a>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="Index" asp-controller="Announcement" asp-area="Admin">Tümünü Gör</a>
                            <a class="collapse-item" asp-action="InsertAnnouncementPage" asp-controller="Announcement" asp-area="Admin">Duyuru Ekle</a>
                        </div>
                    </div>
                </li>
                
                <hr class="sidebar-divider d-none d-md-block">

                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            
           

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                @*@TempData["username"]*@
                            </span>
                            <img class="img-profile rounded-circle" src="~/img/profile.png">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            @*<a class="dropdown-item" asp-action="UpdateUserPage" asp-controller="User" asp-route-userId="@Model.UserDetailSession.UserId" asp-area="Admin">*@
                            <a class="dropdown-item" asp-action="UpdateUserPage" asp-controller="User" asp-route-userId="" asp-area="Admin">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil Güncelle
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="AdminLogin" asp-area="Admin">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Çıkış
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            @RenderBody()

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @*<script src="/vendor/jquery/jquery.min.js"></script>*@

    <script src="/Admin/js/jquery-3.4.1.min.js"></script>

    <script src="/Admin/js/jquery-migrate-3.1.0.min.js"></script>

    <script src="/Admin/js/jquery.unobtrusive-ajax.min.js"></script>

    <script src="/Admin/js/jquery.validate.min.js"></script>
    <script src="/Admin/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/Admin/js/sb-admin-2.min.js"></script>

    <script src="/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="/Admin/js/demo/datatables-demo.js"></script>

    @*https://ckeditor.com/docs/ckeditor4/latest/guide/dev_installation.html*@
    @*https://ckeditor.com/ckeditor-4/download/#*@

    @*<script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>*@

    <script src="~/Admin/ckeditor/ckeditor.js"></script>

    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1');
    </script>

    @*<script src="/assets/js/dist/browser/signalr.min.js"></script>*@

@*@RenderSection("extraScript", false);*@

</body>

</html>
